<h1>Editing nonconformity</h1>

<%= render "form", nonconformity: @nonconformity %>

<br>

<div>
  <%= link_to "Show this nonconformity", @nonconformity %> |
  <%= link_to "Back to nonconformities", nonconformities_path %>
</div>
