<p style="color: green"><%= notice %></p>

<h1>Nonconformities</h1>

<div id="nonconformities">
  <% @nonconformities.each do |nonconformity| %>
    <%= render nonconformity %>
    <p>
      <%= link_to "Show this nonconformity", nonconformity %>
    </p>
  <% end %>
</div>

<%= link_to "New nonconformity", new_nonconformity_path %>
