html,
body {
    height: 100%;
    background-color: #f8f9fa;
}

.content {
    margin-left: 4.5rem;
    padding: 1px 10px;
    height: 100%;
}

#sidebar {
    width: 280px;
    height: 100%;
    position: fixed;
}

.navbar {
    height: 95px;
}